section {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}

.music_button {
    position: absolute;
    bottom: 1em;
    right: 1em;
    z-index: 1;
}

.internet-connection {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background: white;
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    .message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 2.5em;
    }
    .turn-on {
        font-size: 2em;
    }
}