<div *ngIf="!(networkState$ | async)" class="internet-connection">
    <div class="message">
        <p>You haven not the internet connection.</p>
        <p>Please Turn on the internet.</p>
        <p>To play in Animals food run</p>
    </div>

</div>
<section>
    <img *ngIf="musicButtonShow" class="music_button" src="assets/{{musicStatus ? 'music-off-button.png' : 'music-button.png'}}" (click)=" playButton()">
    <audio></audio>
    <router-outlet></router-outlet>
</section>