<nav [style.background-image]="'url(' + backgroundOnTop + ')'" [style.width.%]="100" [style.height.%]="100" style=" transition: background 0.5s linear;">
    <div class="banner">
        <p>ANIMALS FOOD RUN</p>
    </div>
    <div class="buttons">
        <button type="submit" [routerLink]="['/game/choose-round']">PLAY</button>
        <button type="submit" [routerLink]="['/game/shop']">SHOP</button>
        <button type="submit" [routerLink]="['/game/top-scorers']">TOP SCORES</button>
        <button type="submit" (click)="logOut()">LOG OUT</button>
    </div>
</nav>