    nav {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        animation-duration: 2s;
        align-items: center;
        justify-content: center;
        overflow: auto;
        .banner {
            margin-top: 1em;
            text-align: center;
            font-family: 'Pacifico', cursive;
            font-size: 3em;
            color: white;
            white-space: wrap;
        }
        .buttons {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            button {
                background: green;
                border-radius: 1em;
                width: 300px;
                height: 60px;
                color: white;
                font-family: 'Pacifico', cursive;
                margin-bottom: 1em;
                font-size: 2em;
                &:hover {
                    color: black;
                    font-size: 2.2em;
                }
            }
        }
    }