.box {
    color: white;
    padding: 3em;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    .banner {
        text-align: center;
        font-family: 'Pacifico', cursive;
        font-size: 5em;
        color: white;
        .verification-type {
            font-size: 0.8em;
            font-family: Tahoma, Geneva, Verdana, sans-serif;
            color: rgb(255, 0, 0);
        }
    }
    .form {
        width: 100%;
    }
    label {
        font-size: 2em;
    }
    .account-create {
        font-size: 2em;
        padding: 0;
        &:hover {
            color: black;
        }
        cursor: pointer;
    }
}