.message-box {
    background: white;
    padding: 0.5em;
    text-align: center;
    font-size: 1.5em;
    box-shadow: 10px 10px 60px -6px rgba(0, 0, 0, 0.77);
    border-radius: 0.5em;
    background: green;
    color: white;
    .buttons {
        display: flex;
        padding: 0.5em;
        padding-top: 0;
        justify-content: space-between;
        align-items: center;
        .button {
            display: flex;
            flex-direction: column;
            font-size: 1em;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            margin-left: 20px;
            img {
                width: 48px;
                height: 48px;
            }
        }
    }
    .stars {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        img {
            width: 2.5em;
            height: 2.5em;
            margin: 0.2em;
        }
    }
    .less {
        justify-content: center;
    }
}