<div class="message-box">
    <p>{{buttons.textMessage}}</p>
    <p class="score">Score: {{buttons.score}}</p><br>
    <div class="stars">
        <div *ngFor="let in of counter(buttons.stars)">
            <img src="assets/star.png">
        </div>
    </div>
    <br>
    <div class="buttons" [class.less]="!buttons.image2">
        <div class="button" (click)="reloadPage()">
            <img src="{{buttons.image1}}">
            <span>Repeat</span>
        </div>
        <div class="button" *ngIf="buttons.image2 !== null" (click)="nextRound()">
            <img src="{{buttons.image2}}">
            <span>Next round</span>
        </div>
        <div class="button" *ngIf="buttons.image3 !== null" (click)="useExtraLife()">
            <img src="{{buttons.image3}}">
            <span>Extra lifes:{{buttons.hearts}} </span>
        </div>
    </div>
</div>