.game_window {
    width: 100%;
    height: 100%;
    position: relative;
    .action-buttons {
        width: 100%;
        position: absolute;
        padding: 2em;
        display: flex;
        justify-content: space-between;
        img {
            width: 64px;
            height: 64px;
        }
    }
    .menu-button {
        position: absolute;
        padding: 2em;
        right: 0px;
        img {
            width: 64px;
            height: 64px;
        }
    }
    .bonuses {
        display: flex;
        pointer-events: none;
        flex-direction: column;
        position: absolute;
        right: 0px;
        padding: 1em;
        bottom: 0;
        color: white;
        text-align: center;
        word-break: break-all;
        font-size: 1.2em;
        img {
            width: 64px;
            height: 64px;
        }
    }
}

.game-buttons {
    width: 300px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.tap-start {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    animation: MoveUpDown 1.5s linear infinite;
    pointer-events: none;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    .progress {
        width: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.time {
    position: absolute;
    color: red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    font-family: 'Pacifico', cursive;
}

.music-button {
    display: none;
}

@keyframes MoveUpDown {
    0%,
    100% {
        bottom: 0;
    }
    50% {
        bottom: 50px;
    }
}