<div class="game_window">
    <div class="action-buttons" *ngIf="showMainButtons">
        <img src="assets/{{toggleGameButton ? 'pause' : 'play'}}.png" (click)="pauseGame()">
    </div>
    <div class="menu-button">
        <img src="assets/menu.png" (click)="goToMenu()">
    </div>
    <div class="bonuses" *ngIf="tapScreen">
        <div class="bonus">
            <img src="assets/bonuses/Health.png">
            <p>Extra lives: {{extraLives}}x</p>
        </div>
        <div class="bonus">
            <img src="assets/eat/{{eat}}.png">
            <p>Multiplier: {{coinMultiplier}}x</p>
        </div>
        <div class="bonus">
            <img src="assets/bonuses/Gravity.png">
            <p>Gravity: {{gravity}}N</p>
        </div>
    </div>
    <canvas #canvas class="canvas"></canvas>
</div>
<div class="game-buttons" *ngIf="gameButtonsOpen">
    <app-game-buttons [buttons]="buttons" (buttonsReq)="extraHearth($event)"></app-game-buttons>
</div>
<div class="progress-bar" *ngIf="progress !== null">
    <div class="progress">
        <div class="progress-bar bg-warning" role="progressbar" [style.width.%]="progress" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="time">{{time}}</div>
</div>
<img src="assets/tap_start.png" class="tap-start" *ngIf="!tapScreen">