.highest-scores {
    background: rgb(92, 92, 218);
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    padding-top: 1em;
    flex-direction: column;
    align-items: center;
    .header {
        display: flex;
        justify-content: center;
        width: 100%;
        border-bottom: 1px solid rgb(218, 218, 218);
        margin-bottom: 1em;
        .title {
            font-size: 1.5em;
        }
        .close {
            width: 1.5em;
            height: 1.5em;
            position: absolute;
            right: 1em;
        }
    }
    .scores {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        .buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 32px;
                height: 32px;
            }
        }
    }
    .player-score {
        color: red;
    }
}