<div class="highest-scores">
    <div class="header">
        <p class="title">Round: {{roundNumber}}</p>
        <img src="assets/close.png" (click)="changePage('close','')" class="close">
    </div>
    <div class="scores" (swipeleft)="changePage('next',$event)" (swiperight)="changePage('back',$event)">
        <div class=" buttons "><img src="assets/left-arrow.png " (click)="changePage( 'back','') "></div>

        <table class="table table-dark ">
            <thead>
                <tr>
                    <th scope="col ">Place</th>
                    <th scope="col ">Username</th>
                    <th scope="col ">Score</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let highest of highestScores let i = index " class="score " [class.table-danger]="highest.myScore ">
                    <td>{{i+1}}</td>
                    <td>{{highest.userName}}</td>
                    <td>{{highest.score}}</td>
                </tr>
            </tbody>
        </table>
        <div class="buttons "><img src="assets/right-arrow.png " (click)="changePage( 'next','') "></div>
    </div>
</div>