<ng-template #content let-modal class="modal">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Do you want to buy this animal?</h4>
        <button type="button" class="close" aria-label="Close" (click)="modalService.dismissAll()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <img class="pet-img" src="assets/pets/{{activePet.name}}.png" style="width:50px; height:50px;">
        <p class="pet-cost">Cost: {{activePet.cost}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modalService.dismissAll()">Close</button>
        <button type="button" ngbAutofocus class="btn btn-success" (click)="buyPet()">Ok</button>
    </div>
</ng-template>
<div class="box " #background [style.background-image]=" 'url(' + backgroundOnTop + ')' " [style.width.%]="100 " [style.height.%]="100" style=" transition: background 0.5s linear;">
    <div class="top-panel">
        <div class="player-points ">Your Points: {{playerPoints}}</div>
    </div>
    <div class="action-buttons">
        <img class="menu-button" src="assets/menu.png" (click)="this.nestedService.gameService.goToMenu()">
    </div>
    <div class="containers">

        <div class="pets-container ">
            <div *ngFor="let pet of formatedPetsArray " class="pet" [class.active]="pet.usedPet" (click)="open(content, pet) ">
                <p class="pet__name ">{{pet.name}}</p>
                <img class="pet__icon " src="assets/pets/{{pet.name}}.png ">
                <p class="pet__cost ">Costs: {{pet.cost}}</p>
                <button class="btn btn-success" *ngIf="pet.active && !pet.usedPet" (click)="setPlayerPet(pet)">SET AS
                    ACTIVE</button>
                <button class="btn btn-success" *ngIf="!pet.active" (click)="open(content, pet)">Buy</button>
            </div>
        </div>

        <div class="bonus-container">
            <div class="bonus" *ngFor="let bonus of bonusesArray" [class.maximum-level]="bonus.bonusLevel === 5">
                <img class="bonus__icon" src="assets/bonuses/{{bonus.bonusName}}.png" *ngIf="bonus.bonusName !== 'Coin'">
                <img class="bonus__icon" src="assets/eat/{{eat}}.png" *ngIf="bonus.bonusName === 'Coin'">
                <p class="bonus__name">{{bonus.bonusName}}</p>
                <hr>
                <p class="bonus__level">{{bonus.bonusLevel}}</p>
                <p class="bonus__description">{{bonus.bonusDescription}}</p>
                <hr>
                <img class="bonus__update" src="assets/arrow-up.png" (click)="increaseLevel(bonus)" *ngIf="bonus.bonusLevel < 5">
                <p class="bonus__description" *ngIf="bonus.bonusLevel < 5">Cost: {{bonus.cost}}</p>
                <p class="bonus__description" *ngIf="bonus.bonusLevel === 5">Maximum level increased</p>
            </div>
        </div>
    </div>
</div>