.box {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    .top-panel {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4em;
        .player-points {
            width: 100%;
            color: rgb(255, 0, 0);
            font-size: 3em;
            display: flex;
            justify-content: center;
            text-align: center;
        }
    }
    .action-buttons {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-between;
        top: 1em;
        padding-left: 1em;
        z-index: 1;
        .menu-button {
            &:hover {
                color: black;
            }
        }
    }
}

.containers {
    display: flex;
    flex-direction: column;
    .pets-container {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 100%;
        .pet {
            display: flex;
            width: 140px;
            flex-direction: column;
            margin: 1em;
            align-items: center;
            background: #DCD9CD;
            border-radius: 1em;
            justify-content: center;
            text-align: center;
            .btn {
                width: 100%;
            }
            &__name {
                color: black;
                font-size: 2em;
            }
            &__icon {
                width: 64px;
                height: 64px;
                animation: animation 3s linear infinite;
            }
            &__cost {
                font-size: 1.5em;
                color: black;
            }
        }
        .active {
            border: 5px solid green;
            padding: 1em;
        }
    }
    .separator {
        color: white;
        text-align: center;
    }
    .bonus-container {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 100%;
        .bonus {
            width: 140px;
            height: auto;
            display: flex;
            flex-direction: column;
            margin: 1em;
            align-items: center;
            justify-content: space-between;
            background: #DCD9CD;
            padding: 0.8em;
            border-radius: 1em;
            text-align: center;
            &__name {
                color: black;
                font-size: 2em;
            }
            &__level {
                color: black;
                font-size: 2em;
            }
            &__icon {
                width: 64px;
                height: 64px;
            }
            &__update {
                width: 48px;
                height: 48px;
            }
            &__cost {
                font-size: 1.5em;
                color: white;
            }
        }
        .maximum-level {
            background: chartreuse;
        }
    }
}

@keyframes animation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}