<div class="box" [style.background-image]="'url(' + backgroundOnTop + ')'" [style.width.%]="100" [style.height.%]="100" style=" transition: background 0.5s linear;">

    <form class="form " #registerForm="ngForm" (ngSubmit)="onSubmit()">
        <div *ngIf="errorMessage">
            <div class="alert alert-danger" role="alert">
                {{ errorMessage }}
            </div>
        </div>
        <div class="form-group">
            <label class="form__label" for="name">Username</label>
            <input type="text" class="form-control form__input form-control-lg" id="name" name="name" required [(ngModel)]="user.username" placeholder="Enter username" #name="ngModel" />
            <div *ngIf="name.invalid" class="alert alert-warning" role="alert">
                <div *ngIf="name.errors.required">
                    Username required
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="form__label" for="password">Password</label>
            <input type="password" name="password" required class="form-control form__input form-control-lg" id="password" placeholder="Enter Password" [(ngModel)]="user.password" #password="ngModel" />
            <div *ngIf="password.invalid" class="alert alert-warning" role="alert">
                <div *ngIf="password.errors.required">
                    Password required.
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!registerForm.form.valid">
            Sign up
        </button>
    </form>

</div>