.box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-y: auto;
    .action-buttons {
        position: absolute;
        display: flex;
        justify-content: space-between;
        top: 1em;
        padding-left: 1em;
        z-index: 1;
        .menu-button {
            &:hover {
                color: black;
            }
        }
    }
    .rounds {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex: 1;
        .round {
            margin: 0.5em;
            .round-inside {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .round-number {
                    width: 90px;
                    height: 90px;
                    border-radius: 50px 20px;
                    background: red;
                    color: white;
                    font-size: 2em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &.active {
                        background: black;
                    }
                }
            }
        }
    }
    .scores-list {
        width: 100%;
        flex: 2;
        z-index: 2;
    }
    .hide {
        animation: hide 0.3s linear;
    }
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}