<div class="box" [style.background-image]="'url(' + backgroundOnTop + ')'" [style.width.%]="100" [style.height.%]="100" style=" transition: background 0.5s linear;">
    <div class="action-buttons">
        <img class="menu-button" src="assets/menu.png" (click)="this.nestedService.gameService.goToMenu()">
    </div>
    <div class="rounds">
        <div class="round" *ngFor="let round of roundsArray">
            <div class="round-inside" (click)="viewerOn(round._id, round.roundNumber); changeActiveRound(round)">
                <div class="round-number" [class.active]="round.active">{{round.roundNumber}}</div>
            </div>
        </div>
    </div>
    <app-high-scores-viewer [roundId]="roundId" [roundNumber]="roundNumber" [roundsArray]="roundsArray" (back)="previousRound($event)" (next)="nextRound($event)" (closeViewer)="closeViewer()" [@fadeInOut] *ngIf="showViewer" class="scores-list "></app-high-scores-viewer>
</div>