<div class="box" [style.background-image]="'url(' + backgroundOnTop + ')'" [style.width.%]="100" [style.height.%]="100" style=" transition: background 0.5s linear;">
    <div class="action-buttons">
        <img class="menu-button" src="assets/menu.png" (click)="this.nestedService.gameService.goToMenu()">
    </div>
    <div class="rounds-container">
        <div *ngFor="let round of formatedRoundsArray" class="round" (click)="saveRoundNumber(round)">
            <div class="round-inside">
                <div class="round-number" [class.not-active]="!round.notActive">{{round.roundNumber}}</div>
                <div class="stars">
                    <div *ngFor="let in of counter(round.stars)">
                        <img src="assets/star.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>