.box {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    .action-buttons {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-between;
        top: 1em;
        padding-left: 1em;
        .menu-button {
            &:hover {
                color: black;
            }
        }
    }
    .rounds-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 3em;
        .round {
            margin: 0.5em;
            .round-inside {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .round-number {
                    width: 90px;
                    height: 90px;
                    border-radius: 50px 20px;
                    background: red;
                    color: white;
                    font-size: 2em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .not-active {
                    background: black;
                }
                .stars {
                    margin-top: 0.5em;
                    display: flex;
                    justify-content: space-between;
                    img {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }
}